<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/' %} active {% endif %}" aria-current="page" href="{% url 'repo_App:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/documentos/' %} active {% endif %}" aria-current="page" href="{% url 'repo_App:documents' %}">Documentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/videos/' %} active {% endif %}" aria-current="page" href="{% url 'repo_App:videos' %}">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/audios/' %} active {% endif %}" aria-current="page" href="{% url 'repo_App:audios' %}">Audios</a>
        </li>
          <li class="nav-item">
          <a class="nav-link{% if request.path == '/imagenes/' %} active {% endif %}" aria-current="page" href="{% url 'repo_App:images' %}">Galería</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>